@charset "utf-8";
/* CSS Document */
nav {
	background-color: rgba(0,26,69,.60);
	overflow: hidden;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width:100%;
	height: 100%;
	list-style: none;
	filter: drop-shadow(0 7px 10px rgba(0,0,0,0.6));
	backdrop-filter:opacity(0.99);
	-webkit-backdrop-filter:opacity(0.99);

	color: #ffffff;
	min-width: 320px;
	
}

nav .collapse {
	height: 100px;
	transition: 0.5s;
	background-color: rgba(0,26,69,.60);
}

nav .behind{
    background-size: cover;
	opacity: 1;
    width: 100%;
    height: 100%;
    z-index: -10;
    top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
    background-position: center;
    background-repeat:space;
	transform: scale(1.001) translate3d(0,0,0);
	position:absolute;
	overflow: hidden;
}

nav .rightHeader {
	float:right;
	margin-right: 20px;
	z-index: 9;
}


nav .behindCllps{
    z-index: -9;
	opacity:0;
    /* transition: 0.5s; */
	filter: blur(15px);
}

.heightNav {
	height: 100px;
	background-color: rgba(0,26,69,.60);
	z-index: 10;
	backdrop-filter:blur(15px);
	-webkit-backdrop-filter:blur(15px);
	scale: 1.001;
}


.height {
	height: 70px;
	
    /* transition: 0.5s; */
}

nav li a .sub {
	font-family: 'Cerebri Sans Semibold';
	font-size: 30pt;
    text-decoration: none;
	text-align: left;
	z-index: 10;
	
}

nav .right {
	z-index: 10;
	float: left;
	position: absolute;
	top: -10px;
	left: 50px;
	font-family: 'Cerebri Sans SemiBold';

	font-size: 40pt;
	text-align: left;
}


#leftA{
	font-family: 'Cerebri Sans Bold';

	font-size: 30pt;
    text-decoration: none;
	text-align: left;
	z-index: 10;
}


.leftA2{
	font-size: 30pt;
    /* transition: 0.5s; */
	z-index: 10;
	
}
nav .left {
	z-index: 10;
	float: left;
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translateY(-50%);
}

nav ul li a {
	font-family: 'Cerebri Sans Semibold';
	font-size: 17pt;
	margin: 5px 5px;
    transition: 0.45s;
	display: block;
    text-decoration: none;
	border-radius: 10px;
	line-height: 40px;
	text-align: center;
	z-index: 10;
	width: 105px;

	background-color: rgba(0,26,69,0);
	cursor: pointer;
	
}

nav ul li a:hover {
	z-index: 10;
	font-size: 18pt;
	font-family: 'Cerebri Sans Heavy';
	color: #72c0ff;
    transition: 0.2s;
	background-color: rgba(0,26,69,0.5);
	border-radius: 10px;

	scale: 1.05;
	
}
nav ul li a:active {
	z-index: 10;
	font-size: 18pt;
	font-family: 'Cerebri Sans Book';
	color: #007bff70;
    transition: 0.1s;
	background-color: rgba(0,26,69,1.00);
	border-radius: 10px;

	scale: 0.9;
}

nav ul li {
	display: inline-block;
    vertical-align: middle;
	padding:0;
	z-index: 10;
	
   
	
}



nav .menuBox {
	visibility: hidden;
	opacity: 0;

	transition-property: opacity, transform;
	z-index: 99;
	width: 50px;
	height: 50px;
	float: left;
}

nav .menuIC {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%; 
	height: 100%;
	fill: none;
	stroke-width: 6;
	stroke-linecap: round;
	stroke-linejoin: round;
	cursor: pointer;
	stroke: #FFFFFF; 
	opacity: .95; 
}

@media (max-width : 900px){
	nav .menuBox {
		margin: 10px 0 0 35px;
	}
	nav .rightHeader {
		pointer-events: none	;
		
		width: 130px;
		top: -10px;
		left: 55px;
		padding: 0;
		margin: 0;
		position: absolute;
	}
	nav ul li a {
		pointer-events:all;
		font-size: 13pt;
		left: 0px;
		scale: 1;
		width: 135px;
		text-align: left;
		padding: 0 10px;
	}
	nav ul li a:hover {
		scale: 1;
		font-size: 15pt;

	}
	nav ul li a:active {
		scale: 1;
		font-size: 12pt;
	}
	nav ul li{
		display: block;
		text-align: left;
	}
	
	.heightNav {
		height: 70px;
	}
	nav .collapse {
		height: 70px;
	}
	.left{
		pointer-events: none	;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		display: -webkit-flex;
		display: flex;

	
		-webkit-align-items: center;
		-webkit-box-align: center;
	
		align-items: center;
		justify-content: center;
	}

	nav	.right{
		width: 100%;
		font-size: 30pt;
		text-align: center;
		top: 15px;
		left: 0;
	}

	#leftB {
		padding-top: 20px;
		padding-left: 10px;
	}
}


@media (max-width : 720px ){
	nav .menuBox {
		margin: 10px 0 0 15px;
	}
}
